@font-face {
  font-family: 'NanumBarunPenBold';
  src:
    url('../assets/fonts/subset-NanumBarunpen-Bold.woff2') format('woff2'),
    url('../assets/fonts/subset-NanumBarunpen-Bold.woff') format('woff'),
    url('../assets/fonts/subset-NanumBarunpen-Bold.ttf') format('truetype');
  font-display: fallback;
}
